body {
  background-color: #555555;
  font-family: 'Open Sans', sans-serif;
  }
  
h1 {
  color: #ffffff;
  text-align: center;
  }

nav {
  background-color: rgba(215, 44, 44, 0.4);
  text-decoration: none;
  }

p {
  background-color: rgba(215, 135, 44, 0.4);
  color: #ffffff;
  }
